<%= form_with(model: contact_form, local: true) do |form| %>
  <% if contact_form.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(contact_form.errors.count, "error") %> prohibited this contact_form from being saved:</h2>

      <ul>
      <% contact_form.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, id: :contact_form_title %>
  </div>

  <div class="field">
    <%= form.label :message %>
    <%= form.text_area :message, id: :contact_form_message %>
  </div>

  <div class="field">
    <%= form.label :phone %>
    <%= form.text_field :phone, id: :contact_form_phone %>
  </div>

  <div class="field">
    <%= form.label :date %>
    <%= form.date_select :date, id: :contact_form_date %>
  </div>

  <div class="field">
    <%= form.label :time %>
    <%= form.time_select :time, id: :contact_form_time %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
